@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    -webkit-tap-highlight-color: transparent;
    background-color: #2f4858;
    color: #f1f5f9;
  }
}

/* Matte Slate Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #2f4858;
}

::-webkit-scrollbar-thumb {
  background: #223541;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #182731;
}

/* Numeric input spinner remove */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
